
.userInput{
	display: flex;
	justify-content: center;
}

input{
    margin: 10px;
    height: 35px;
    width: 41px !important;
    border: none;
    border-radius: 5px;
    text-align: center;
    font-size: 1.2rem;
    background: #eef2f3;
    font-family: Raleway, sans-serif !important;
}