.root {
    width: 100%;
    margin: 0 auto;
    height: 100vh;
  }
  
  .scrolling-wrapper-flexbox {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    /* height: 500px; */
  
   
  }
  .card {
    flex: 0 0 auto;
    width:400px;
    height:400px;
  }
  

  .item_title{
    margin: 0;
    display: flex;
  }
  .title{
    margin-top: 200px;
    padding:20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-color);
    color: white;
  }
  
  .scrolling-wrapper, .scrolling-wrapper-flexbox {
  
    width: 100%;
    -webkit-overflow-scrolling: touch;
 
  }
  .scrolling-wrapper, .scrolling-wrapper-flexbox ::-webkit-scrollbar {
    display: none;
  }
  .product_grid{
    margin-top: 70px;
    padding-top: 10px;
  }